<div class="example-container">
  
  <form [formGroup]="mioForm">
    <mat-form-field>
      <input matInput placeholder="Input" formControlName="nome">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Cognome" formControlName="cognome">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Città" formControlName="citta">
    </mat-form-field>
  

  <mat-form-field>
    <input matInput [matDatepicker]="myDatepicker" placeholder="Data di Nascita">
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>

  </form>

</div>
  
<h2>Risultato in tempo reale:</h2>
<p>Titolo inserito: <b>{{this.mioForm.value.nome}}</b></p>
<p>Autore inserito: <b>{{this.mioForm.value.cognome}}</b></p>
<p>Città inserita: <b>{{this.mioForm.value.citta}}</b></p>
